.vscode/
assembly/
code/
sounds/
sprites/
strings/
textures/
data.win.offsetmap.txt
lassan_v2.zip
lassan!_v2.yyz
lassan_v2c1/
lassan_v2c2/
lassan!_v2.yyz.d/
rewrite/not/
rewrite/game
rewrite/main222.c
rewrite/main222bu.c
rewrite/rewrite2/xd/
rewrite/rewrite2/game